.ukuran{
	margin-top: 9%;
	padding: 20px;
	width: 26%;
}
body{
	font-family: "Century Gothic", sans-serif;
}
table{
	width: 1300px;
	background: ;
	/*meletakkan form ke tengah*/
	margin: 30px auto;
	padding: 30px 10px;
	position: relative;
	
}
.tulisan_tengah{

	text-align: center;
	position: relative;
	left: 4px;
}
.form_data{

	width: 100%;
	padding: 10px;
	font-size: 10pt;
	margin-bottom: 15px;
}
label{
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
}